docs/base_imob_parts/05_followup_crm.json
{
  "_group": "05_followup_crm",
  "_description": "Pausar/Reativar IA -> Follow-up automatico -> Leads -> Atendentes 2/3/4 -> Google Sheets",
  "_node_count": 52,
  "name": "Base_Imob_v2_Congnitive",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "atendimento_ia",
              "fieldValue": "pause"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4688,
        992
      ],
      "id": "cb4e6445-d012-4919-afa9-56a67c360418",
      "name": "Pausar IA"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4688,
        1312
      ],
      "id": "e8708e60-5fef-464f-a1a7-15263c1b3fff",
      "name": "Verificar Pause"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "atendimento_ia",
              "fieldValue": "reativada"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4496,
        1152
      ],
      "id": "706ae895-42ee-41f9-bb96-f4f7a5215fa0",
      "name": "Reativar IA"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "atendimento_ia",
              "fieldValue": "pause"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3392,
        1600
      ],
      "id": "c91718aa-9cb3-40af-b493-7f424244ce65",
      "name": "Pausar IA1"
    },
    {
      "parameters": {},
      "id": "9c20493f-d5d8-4451-a4ac-c43433926634",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -2704,
        2768
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "chats",
        "filters": {
          "conditions": [
            {
              "keyName": "updated_at",
              "condition": "lt",
              "keyValue": "={{ $now.plus(5,'minutes') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2576,
        1840
      ],
      "id": "a6e506f1-93da-40b9-9a5b-780fd1ff1588",
      "name": "ListChats-Supabase"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "chat_messages",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $json.phone }}"
            },
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2176,
        1872
      ],
      "id": "2d77d6f5-226c-4be3-9dc6-7e9a143570af",
      "name": "ListMessages-Supabase",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "chat_messages",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Aggregate')?.item?.json?.conversas?.last()?.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "active",
              "fieldValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -560,
        1920
      ],
      "id": "ae8a22b1-873c-44ea-9c12-e11a07231330",
      "name": "DisableMessage-Supabase"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9c00627-84a9-49a9-bc7e-d923a5918346",
              "name": "output",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "0e34f673-b6dc-4748-89d2-a178dfe91853",
              "name": "phone",
              "value": "={{ $('ListChats-Supabase').item.json.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        1520
      ],
      "id": "17622e48-ae77-4dcc-b411-d759b307f1ba",
      "name": "SetConfig"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Você é um agente facilitador de vendas e está buscando conversas não finalizadas entre o cliente e um agent de IA. \n\n# Cria a somente a resposta não precisa justificar sua resposta\n\n# Identifique o cliente não enviou mais mensagens de resposta\n\n# Se o cliente não responder mesmo assim, agradeça e diga que irá encerrar o pedido e está a disposição para outros pedidos\n\n# Use frase simples e naturais como nos exemplos\n\nExemplos : \n- 'Vamos continuar seu agendamento?' \n- 'Vamos agendar sua visita' \n\n# Conversa entre o cliete e o agente de IA:\n{{ $json.texto }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -1216,
        1520
      ],
      "id": "0b0ed180-65f9-47d4-9569-f25f5b2d2c63",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "inputText": "={{ $json.texto }}",
        "categories": {
          "categories": [
            {
              "category": "pendente_resposta",
              "description": "Pendende de agendar a visita ou informar horario para visita"
            },
            {
              "category": "encerrada",
              "description": "Houve um desfecho da conversa  ou  agendamento de uma visita foi confirmadoo com hoorario ou o agente de IA se despediu"
            },
            {
              "category": "personal",
              "description": "Pediu informação sobre personal"
            },
            {
              "category": "Sem resposta",
              "description": "Ficou sem responder"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -1616,
        1872
      ],
      "id": "570a9637-12de-4ec0-a070-0ddab664285a",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "jsCode": "return $('Aggregate').all().map(item => {\n  // Tenta acessar a propriedade 'conversas' e verifica se ela é um array\n  const conversas = item.json.conversas || []; // Garante que é pelo menos um array vazio\n\n  if (!Array.isArray(conversas)) {\n    throw new Error(\"A propriedade 'conversas' não é um array.\");\n  }\n\n  // Processa cada conversa e verifica as mensagens\n  const textoUnico = conversas.map(conversa => {\n    const cliente = conversa.user_message || \"sem mensagem do chatbot\";\n    const agente = conversa.bot_message || \"sem resposta\";\n    \n    // Verifica se a data existe e formata\n    const dataOriginal = conversa.created_at || \"Data da Mensagem indisponível\";\n    const dataFormatada = dataOriginal !== \"Data da Mensagem indisponível\"\n      ? formatarData(dataOriginal)\n      : dataOriginal;\n\n    return `em: ${dataFormatada}\\n\\n - agente(chatbot): ${agente} \\n - cliente: ${cliente}\\n`;\n  }).join('\\n\\n');\n\n  // Retorna o texto final como resultado\n  return {\n    json: {\n      texto: textoUnico\n    }\n  };\n});\n\n// Função para formatar a data\nfunction formatarData(dataString) {\n  const data = new Date(dataString); // Converte a string em objeto Date\n  if (isNaN(data)) {\n    return \"Data inválida\"; // Retorna se a data não for válida\n  }\n  \n  // Formata no padrão DD/MM/YYYY HH:mm\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\n  const ano = data.getFullYear();\n  const horas = String(data.getHours()).padStart(2, '0');\n  const minutos = String(data.getMinutes()).padStart(2, '0');\n  \n  return `${dia}/${mes}/${ano} ${horas}:${minutos}`;\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1824,
        1872
      ],
      "id": "eef35e73-3e7e-48fd-9a82-31b17e7723ef",
      "name": "Code4"
    },
    {
      "parameters": {
        "tableId": "chat_messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Aggregate').item.json.conversas.last().phone }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "={{ $('Aggregate').item.json.conversas.last().message_type }}"
            },
            {
              "fieldId": "bot_message",
              "fieldValue": "={{ $json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -880,
        1920
      ],
      "id": "ba747ff3-0a0f-4cb1-869a-081972b382f4",
      "name": "Supabase2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2384,
        1840
      ],
      "id": "961023be-3e4f-44ec-9de0-071d40805e28",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -720,
        1920
      ],
      "id": "937bccb2-1c94-47e3-8b07-8e214cfce261",
      "name": "Wait2",
      "webhookId": "623f8b10-5cbd-4106-aa54-b1374065fb6b"
    },
    {
      "parameters": {
        "content": "",
        "height": 840,
        "width": 2720,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2848,
        1504
      ],
      "typeVersion": 1,
      "id": "3d4c7b35-6883-476c-9645-6b66c758cb28",
      "name": "Sticky Note58"
    },
    {
      "parameters": {
        "content": "# Follow up Whatsapp",
        "height": 80,
        "width": 393,
        "color": 4
      },
      "id": "3283aa0c-0817-4ddd-b943-8851e7fa6778",
      "name": "Sticky Note59",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2784,
        1520
      ]
    },
    {
      "parameters": {
        "options_Create_instance": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -624,
        1520
      ],
      "id": "5030e028-39ef-47f2-8de4-341153dd4e00",
      "name": "Evolution API6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1648,
        2032
      ],
      "id": "d157c2e2-ea3d-4330-904b-36b31163f1fe",
      "name": "OpenAI Chat Model3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "50 8 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2784,
        1840
      ],
      "id": "2e58fe4d-a62e-421a-b57e-cc41be37cecf",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "conversas",
        "include": "specifiedFields",
        "fieldsToInclude": "id,message_type,created_at,user_message, bot_message,phone",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2016,
        1872
      ],
      "id": "3687331b-e727-42cc-a428-23a6039bd2eb",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1216,
        1824
      ],
      "id": "9116efdb-6491-4666-aa1e-c01c7bc7c47c",
      "name": "OpenAI Chat Model5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9c00627-84a9-49a9-bc7e-d923a5918346",
              "name": "output",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "0e34f673-b6dc-4748-89d2-a178dfe91853",
              "name": "phone",
              "value": "={{ $('ListChats-Supabase').item.json.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        1664
      ],
      "id": "3cabfc49-0aa2-4fe4-9e2f-6af68477495e",
      "name": "SetConfig1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Você é um agente facilitador de vendas e está buscando conversas não finalizadas entre o cliente e um agent de IA. \n\n# Cria a somente a resposta não precisa justificar sua resposta\n\n# Identifique o cliente não enviou mais mensagens de resposta\n\n# Se o cliente não responder mesmo assim, agradeça e diga que irá encerrar o pedido e está a disposição para outros pedidos\n\n# Use frase simples e naturais como nos exemplos\n\nExemplos : \n- 'Posso pedir um personal para entrar em contato?' \n\n# Conversa entre o cliete e o agente de IA:\n{{ $json.texto }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -1216,
        1664
      ],
      "id": "022426c9-4dd5-47a0-9afc-6d636e35a118",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "options_Create_instance": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -624,
        1664
      ],
      "id": "55577948-6b95-40f6-b61d-f1307a4d02b2",
      "name": "Evolution API7"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.telefone + '_' + new Date().toISOString().split('T')[0] }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3440,
        2304
      ],
      "id": "1b111a3d-56f2-4a6f-b09f-322b71d43720",
      "name": "Postgres Chat Memory1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Google Calendar').item.json.description }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3120,
        2448
      ],
      "id": "e734f943-16f6-4dee-a5fd-95cf550a24c8",
      "name": "Supabase4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields2').item.json.Tempo }}",
        "options": {
          "systemMessage": "=Você foi acionado pois vai avisar quanto tempo falta para a reunião, diga apenas o tempo que falta e se precisa de algo antes da reunião, sem dicas de uso ou informações extras"
        }
      },
      "id": "048417b8-3186-4d60-a340-55b4b3e24d3f",
      "name": "Atendente2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        3312,
        2448
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c930cacf-b5ee-4120-a192-d68715d71d57",
              "name": "remoteJid",
              "value": "={{ $('Google Calendar').item.json.description }}",
              "type": "string"
            },
            {
              "id": "e7775c3f-04e5-4b6f-9695-dad8654b7ff8",
              "name": "Tempo",
              "value": "Crie uma mensagem avisando que falta 5 minutos para a reunião ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2944,
        2448
      ],
      "id": "6cae9602-c5c9-4252-9a7e-17a6881422bd",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "content": "# AVISO REUNIÃO CHEGANDO",
        "height": 80,
        "width": 551.2183277924504,
        "color": 5
      },
      "id": "f2f88a03-1e95-4411-829a-980f14f32cca",
      "name": "Sticky Note27",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1760,
        1968
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5fac926e-4d23-4497-bb0b-bacb96c33706",
      "name": "Loop Over Items4",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2192,
        2208
      ],
      "alwaysOutputData": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields5').item.json.Tempo }}",
        "options": {
          "systemMessage": "=Você foi acionado pois vai avisar quanto tempo falta para a reunião, diga apenas o tempo que falta e se precisa de algo antes da reunião, sem dicas de uso ou informações extras"
        }
      },
      "id": "5a40f4cf-c9c5-4e40-9f5c-6ecbc8a41389",
      "name": "Atendente3",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        3312,
        2144
      ]
    },
    {
      "parameters": {
        "options_Create_instance": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3664,
        2240
      ],
      "id": "34f4b4e0-1b94-40b1-876b-5ae17fc72483",
      "name": "Evolution API8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        3312,
        2288
      ],
      "id": "b9335253-3a8c-4c97-8717-c44ace776a52",
      "name": "OpenAI Chat Model6"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3824,
        2512
      ],
      "id": "d714c369-f353-4ace-a034-0482af9dde86",
      "name": "Wait1",
      "webhookId": "09cdc3aa-8e66-4300-afb4-68fb67dac853"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "160aY7-HVX8yubjZ7WgzxkqJg2USR_JXvCT9C-vd8jUM",
          "mode": "list",
          "cachedResultName": "lista 02",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/160aY7-HVX8yubjZ7WgzxkqJg2USR_JXvCT9C-vd8jUM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1777599646,
          "mode": "list",
          "cachedResultName": "lista 02",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/160aY7-HVX8yubjZ7WgzxkqJg2USR_JXvCT9C-vd8jUM/edit#gid=1777599646"
        },
        "options": {}
      },
      "id": "6e5d8bdf-3803-4bbf-adab-46bbaf452781",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1952,
        3152
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "160aY7-HVX8yubjZ7WgzxkqJg2USR_JXvCT9C-vd8jUM",
          "mode": "list",
          "cachedResultName": "lista 02",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/160aY7-HVX8yubjZ7WgzxkqJg2USR_JXvCT9C-vd8jUM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1777599646,
          "mode": "list",
          "cachedResultName": "lista 02",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/160aY7-HVX8yubjZ7WgzxkqJg2USR_JXvCT9C-vd8jUM/edit#gid=1777599646"
        }
      },
      "id": "69fc6b42-e342-43da-8bcb-207f7bc6c948",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3840,
        3104
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Mapear Lead').item.json['telefone\t\t\t'] }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3488,
        3360
      ],
      "id": "a62f4616-626a-46ca-9870-91d23905844c",
      "name": "Postgres Chat Memory2"
    },
    {
      "parameters": {
        "content": "# CAPTAÇÃO DE CLIENTES",
        "height": 80,
        "width": 551.2183277924504,
        "color": 5
      },
      "id": "e12f1e1b-2ec6-47d3-9716-31ba66793047",
      "name": "Sticky Note30",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1760,
        2864
      ]
    },
    {
      "parameters": {
        "options_Create_instance": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3664,
        3104
      ],
      "id": "84247b02-b1ab-472f-91d9-341e9df79872",
      "name": "Evolution API3",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $json['Phone Number \t\t\t'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2624,
        3152
      ],
      "id": "bc0c6fd8-a2ac-4f99-9558-226376bd68c4",
      "name": "Supabase5",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a6d9aac-8565-4c58-abe3-8741393a5535",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2800,
        3152
      ],
      "id": "022a2508-1a1d-4b72-ab77-702a1005e489",
      "name": "If9"
    },
    {
      "parameters": {
        "action": "generate"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        2992,
        3264
      ],
      "id": "f7e0127f-5d1f-4051-bc6c-e6591e0be208",
      "name": "Gerar sessionID1"
    },
    {
      "parameters": {
        "tableId": "dados_cliente",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sessionid",
              "fieldValue": "={{ $json.data }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Mapear Lead').item.json['Phone Number \t\t\t'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3168,
        3280
      ],
      "id": "1bc6d612-f320-41ee-a974-2066b8473a57",
      "name": "Supabase6"
    },
    {
      "parameters": {
        "jsCode": "// Obtém os valores dos nós anteriores\nconst sessionid1 = $input.item.json.data;  // Do nó \"Gerar sessionID\"\nconst sessionid2 = $input.item.json.sessionid;  // Do nó \"Supabase\"\n\n// Retorna apenas o que existir, chamando sempre de \"sessionId\"\nreturn [{ sessionId: sessionid1 || sessionid2 || null }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3168,
        3104
      ],
      "id": "74c7b87d-8adb-415a-9a3f-58268cbfbe67",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Mapear Lead').item.json['Phone Number \t\t\t'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3008,
        3104
      ],
      "id": "356d83e0-934d-4bae-af0f-74032286fd3d",
      "name": "Get Dados1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "phone",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2272,
        3152
      ],
      "id": "75bb637b-d6cf-4e09-8c2a-d7684ecf023d",
      "name": "Split Out",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d2854de-1eab-46f1-945c-c872b4e212c5",
              "name": "telefone\t\t\t",
              "value": "=55{{ $json.phone.toString() }}",
              "type": "string"
            },
            {
              "id": "94a4147a-782e-4810-a3e5-8681bf74ea8b",
              "name": "Nome da empresa",
              "value": "={{ $json.nomeFantasia }}",
              "type": "string"
            },
            {
              "id": "6ef7de47-1caf-4866-8807-8b33fb16db58",
              "name": "Nome da pessoa",
              "value": "={{ $json.socios.split(' ')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2448,
        3152
      ],
      "id": "3f06afed-29fb-4f9f-929f-73f91da90487",
      "name": "Mapear Lead"
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "7b18f6a9-863b-4382-91d7-7d198a229e9f",
      "name": "Wait4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2112,
        3152
      ],
      "webhookId": "10699536-5e06-4fcb-87ae-268ff5f9b4d7"
    },
    {
      "parameters": {
        "content": "",
        "height": 820,
        "width": 2443,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        2832
      ],
      "typeVersion": 1,
      "id": "39ca77ee-91c2-44d5-aa22-32cdc5944d76",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months"
            }
          ]
        }
      },
      "id": "c69fc754-9540-4cc0-a27c-c6a774b207b6",
      "name": "Schedule Trigger3",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1792,
        3152
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensagens a serem enviadas sem dicas de uso somente a mensagem que será enviada, escolha uma das 3: Olá {{ $('Mapear Lead').item.json['Nome da pessoa'] }} tudo bem?,Olá {{ $('Mapear Lead').item.json['Nome da pessoa'] }} como vai?, olá {{ $('Mapear Lead').item.json['Nome da pessoa'] }} está podendo falar? ",
        "options": {
          "systemMessage": "=Me da a resposta sem dicas de uso ou textos adicionais"
        }
      },
      "id": "0a5211b5-749a-46f2-8b6b-6d5c9b04d74c",
      "name": "Atendente4",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        3328,
        3104
      ],
      "executeOnce": true
    }
  ],
  "connections": {
    "Pausar IA": {
      "main": [
        []
      ]
    },
    "Verificar Pause": {
      "main": [
        []
      ]
    },
    "Reativar IA": {
      "main": [
        []
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        []
      ]
    },
    "ListChats-Supabase": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListMessages-Supabase": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DisableMessage-Supabase": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetConfig": {
      "main": [
        [
          {
            "node": "Evolution API6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "SetConfig",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "ListMessages-Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "DisableMessage-Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "ListChats-Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SetConfig1": {
      "main": [
        [
          {
            "node": "Evolution API7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "SetConfig1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Atendente3",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Atendente2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase4": {
      "main": [
        [
          {
            "node": "Atendente2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atendente2": {
      "main": [
        [
          {
            "node": "Evolution API8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Supabase4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [],
        []
      ]
    },
    "Atendente3": {
      "main": [
        [
          {
            "node": "Evolution API8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API8": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Atendente3",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Atendente2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "Atendente4",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API3": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase5": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "Get Dados1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gerar sessionID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar sessionID1": {
      "main": [
        [
          {
            "node": "Supabase6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase6": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Atendente4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dados1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Mapear Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear Lead": {
      "main": [
        [
          {
            "node": "Supabase5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atendente4": {
      "main": [
        [
          {
            "node": "Evolution API3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}